<!DOCTYPE html>
<html>

  <head>
      <title>{{title}}</title>
  </head>

  <body>

    <div>
        <h1> {{title}} </h1>
            <form id="inputForm">
              <!-- Uses the form we defined in the api -->
              <p>
                  {{ form.input.label }}
                </p>
                <p id="userInput">
                  {{ form.input(size=32) }}
                </p>
            </form>
    </div>

    <div id="response"></div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <script>
        $(document).ready(function() {
            //Every time the user writes a char the function is activated
            $("#userInput").on("keyup", function() {
              $.ajax({
                  //Ajax request where we send the user input and get
                  //the list of the possible names
                  data: $('#inputForm').serialize(),
                  type: "POST",
                  url: '/_possibilities',

                  //In case of sucess we place the response in the div with the
                  //id = "response"
                  success: function(resp){
                      $("#response").html(resp.data);
                  }
                })
            });
        });
    </script>

  </body>
</html>
